<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.tow.Mapper.master.UserMapper" >
    <resultMap id="BaseResultMap" type="com.zy.tow.bean.Role" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="roleName" property="roleName" jdbcType="VARCHAR" />
        <collection property="permissionsSet" ofType="com.zy.tow.bean.Permissions">
            <id column="id" jdbcType="VARCHAR" property="id" />
            <result column="permissionsName" jdbcType="VARCHAR" property="permissionsName" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List" >
        id, roleName
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        select
        <include refid="Base_Column_List"></include>
        from role
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM role
        WHERE id = #{id}
    </select>

    <insert id="insert" >
    INSERT INTO
            role
            (id,roleName)
        VALUES
            (#{id}, #{roleName})
    </insert>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
             role
       WHERE
             user_id =#{id}
    </delete>

</mapper>
